.wrapper {
  margin: 0 auto;
  max-width: 1260px;  /*div居中margin:0 auto需要配合width使用*/
  padding: 1px 10px;
  background: #F8F8F8;
}

#header {
  background: #2b7dad;
}

header a {
  color: #777;
}

footer p {
  text-align: center;
}

.navbar-header {
  margin: 10px;
}

#logoPic {
  width: 80px;
}

.navbar-toggle {
  background: #ddd;
  margin-top: 15px;
  margin-right: 0;
}

.icon-bar {
  border: 1px solid;
}

#userinfo {
  padding-top: 15px;
}

.contentwrap {
  /*border: 1px solid #e8e8e8;*/
  margin: 0 auto;
  max-width: 1260px;
  margin-top: 40px;
}

.groupWrap {
  border: 1px solid #e8e8e8;
  margin: 5px 5px 10px 5px;
}

.group {
  border: 1px solid #e8e8e8;
  border-left: none;
  border-right: none;
  background: #fafafa;
  height: 40px;
  position: relative;
}

.group span {
  color: #266da1;
  font-size: 1.5em;
}

div.links {
  display: inline-block;
}

.groupName {
  position: absolute;
  top: 5px;
  left:10px;
  font-weight: bold;
}

.addGroupBtn{
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 100% !important;
  cursor: pointer;
}

.links {
  width: 140px;
  height: 35px;
  color:#666;
  margin:6px 5px;
  border: 1px solid #e8e8e8;
  /*background: #fafafa;*/
}

.linkName {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding:8px 12px;
  color:#666;
}

.links > span {
  background: #fafafa;
  width: 35px;
  line-height:30px;
  float: right;
  text-align: center;border: 1px solid #fafafa;
  background: #e8e8e8;
}

.addNewLinks {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid blue;
  /*box-shadow: 10px 5px 5px #888888;*/
}

.addNewLinks > a > span {
  color: black;
  font-weight: bold;
}

.addNewLinksName,.addNewLinksUrl {
  width: 70%;
  margin: 8px auto;
}