.wrapper {
  margin: 0 auto;
  max-width: 1260px;  /*div居中margin:0 auto需要配合width使用*/
  padding: 1px 10px;
  background: #F8F8F8;
}

#header {
  background: #2b7dad;
}

header a {
  color: #777;
}


footer p {
  text-align: center;
}

a.nounderline:link {
  text-decoration: none;
  border: 0;
  cursor: default;
}

a.nounderline:visited {
  text-decoration: none;
  border: 0;
  cursor: default;
}

a.nounderline:hover {
  text-decoration: none;
  border: 0;
  cursor: default;
}

a.nounderline:active {
  text-decoration: none;
  border: 0;
  cursor: default;
}

.navbar-header {
  margin: 10px;
}

#logoPic {
  width: 80px;
}

#logoFont {
  max-width: 54%;
}

.navbar-toggle {
  background: #ddd;
  margin-top: 15px;
  margin-right: 0;
}

.icon-bar {
  border: 1px solid;
}

#userinfo {
  padding-top: 15px;
}

.contentwrap {
  /*border: 1px solid #e8e8e8;*/
  margin: 40px auto 80px auto;
  max-width: 1300px;
  min-height: 720px;
}

.groupWrap {
  border: 1px solid #e8e8e8;
  margin: 5px 5px 10px 5px;
}

.group {
  border: 1px solid #e8e8e8;
  border-left: none;
  border-right: none;
  background: #fafafa;
  height: 40px;
  position: relative;
}

.group span {
  color: #266da1;
  font-size: 1.5em;
}

div.links {
  display: inline-block;
}

.groupName {
  position: absolute;
  top: 5px;
  left:10px;
  font-weight: bold;
  cursor: pointer;
}

.addGroupBtn, .removeGroupBtn {
  position: absolute;
  top: 5px;
  font-size: 100% !important;
  cursor: pointer;
}

.addGroupBtn {
  right: 25px;
}

.removeGroupBtn {
  right: 5px;
  color: indianred !important;
}

.links {
  width: 200px;
  height: 35px;
  color:#666;
  margin:6px 5px;
  border: 1px solid #e8e8e8;
  background: azure;
}

.linkName {
  display: inline-block;
  /*height: 20px;*/
  line-height: 20px;
  padding:8px 12px;
  color:#666;
}

.links > span {
  background: #fafafa;
  width: 35px;
  line-height:30px;
  float: right;
  text-align: center;border: 1px solid #fafafa;
  background: #e8e8e8;
}

.glyphicon-edit {
  cursor: pointer;
}

.addNewLinks {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid blue;
  /*box-shadow: 10px 5px 5px #888888;*/
}

.addNewLinks > a > span {
  color: black;
  font-weight: bold;
}

.modal-body > input,.addNewLinksName,.addNewLinksUrl,.userName,.passwd,.email {
  width: 70%;
  margin: 8px auto;
}

#forgetPasswd {
  margin: 10px;
  font-size: smaller;
}

.powered-by {
  display: inline-block;
}

.powered-by::after {
  content: "|";
  padding-left: 10px;
}

.powered-by:last-child::after {
  content: none;
}

#footer .container {
  margin: 10px auto;
}

.footer-info {
  text-align: center;
}

.footer-info a {
  color: black;
  border-bottom: 1px solid #999;
  margin-left: 10px;
}

#loginUser {
  color: black;
  font-weight: bold;
}

#change {
  display: none;
  position: absolute;
  top: 250px;
  left: 250px;
}

#update,#remove {
  border: 1px solid blue;
  border-radius: 2px;
  background: #eee;
  padding: 2px;
  margin: 2px;
  cursor: pointer;
}

#loginTips > .modal-sm {
  margin-top: 5%;
}

#loginTips p {
  margin-left: 5%;
}

#goTop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 90px;
  z-index: 1000;
  height: 27px;
  width: 28px;
  background: #000;
  /*color: #000;*/
  cursor: pointer;
}

#goTop:before {
  display: block;
  content: " ";
  margin-top: 9px;
  margin-left: 4px;
  width: 0;
  height: 0;
  border-width: 0 9px 8px;
  border-color: transparent transparent #fff;
  border-style: solid;
}

aside {
  background: #22618c;
  margin-bottom: 80px;
}

.aside {
  margin: 0 auto;
  max-width: 1260px;
  color: white;
  font-size: 1.5em;
  text-align: center;
}

section {
  display: inline-table;
  margin-left: 5%;
  margin-right: 5%;
}

/*section img {*/
  /*height: 200px;*/
/*}*/

aside .row a,aside .row a:hover {
  color: white;
}

aside .row a:hover {
  text-decoration: none;
}

#social {
  margin-top: 5%;
}

#social a {
  margin: 5px;
}

#wx_img_wrapper {
  display: none;
  position: fixed;
  width: 190px;
  height: 220px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  margin: auto;
  z-index: 999;
}

#wx_img_wrapper img {
  border: 2px dashed wheat;
  opacity: 1;
  width: 180px;
}

#wx_img_wrapper .close {
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 5px;
  opacity: 1;
}

.group .close {
  display: none;
}

.group .close > span {
  color: red;
  /*font-size: 1.1em;*/
  margin: 5px;
}

.social-share {
  text-align: right;
}

#export, #addGroup {
  font-size: 1.1em;
  width: 80px;
  text-align: center;
  cursor: pointer;
  background: #F8F8F8;
  padding: 5px;
  text-decoration: none;
}
