html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

@font-face {
font-family: 'sxdx';
    src: url("/new/assets/fonts/sxdxt.ttf?");
}

@font-face {
font-family: "fzLongZhao";
    src: url("/new/assets/fonts/FZLongZhaoJW.ttf?");
}
